body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  max-width: 400px;
  margin: 0 50px 0 50px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {

}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

#response {
  padding: 5px;
  margin-top: 5px;
  display: none;
}

button[type="submit"][disabled] {
  background-color: red;
  color: #666; 
  cursor: not-allowed; 
}
button#cancelBtn {
  background-color: #f44336; 
  color: white; 
  padding: 10px 20px;
  border: none; 
  border-radius: 4px;
  cursor: pointer; 
}

button#cancelBtn:hover {
  background-color: #d32f2f; 
}

#chatHistory {
  padding: 5px;
  border-top: 2px solid #757575;
  margin-top: 5px;
  
}

#chatHistory div {
  margin-bottom: 10px;
  padding: 8px;
}

#main {
    display: flex;
    justify-content: center;
}

#weatherForm {
  height: fit-content;
}

#siteExplanation {
  max-width: 400px;
  margin: 20px 50px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
}

#siteExplanation h2 {
  margin-top: 0;
  color: #4caf50;
  font-size: 20px;
}

#siteExplanation p {
  margin-bottom: 10px;
  line-height: 1.5;
}

